# Ignore build output
dist/

# Ignore dependencies
node_modules/

# Ignore test files
src/tests/

# Ignore configuration and sensitive files
.env
.env.*
!.env.example  # Keep example environment file for reference

# Ignore project metadata files
.git/
.gitignore

# Ignore Docker-related files (not needed in the image)
docker-compose.yml
Dockerfile

# Ignore others
api-requirements.md
notes_mentoring.md



